<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    
  <div class="about-res">
    <menu id="user" class="dynamicMenu">
  
      <div class="user-profile">
        <div class="profile-pic">
          <img src="assets/profilepic.png" alt="username here" />
        </div>
  
        <div class="user-info">
          <div class="username">
            <p><strong> Trisha Rayan</strong> </p>
          </div>
  
        </div>
      </div>
  
      <ul class="admin-menu">
        <li>trisharayan@gmail.com</li>
        <li>Student</li>
        <li>
          Thomas Jefferson HS for Science and Technology, Alexandria VA
        </li>
      </ul>
    </menu>
  
    <main>
      <section>
        <h2>Little about me</h2>
  
        <p>Hi there! I’m Trisha Rayan, a junior at Thomas Jefferson High School for Science and Technology. I am currently
          pursuing advanced courses in computer science. I love taking the skills I learn and applying them beyond the
          classroom as passion projects, like this website.
  
  
          <br><br>
          <h2>About this project</h2>
  
          <p>
            On this website, you will find visualizations, like charts and graphs, of COVID-19 data. The data is being
            updated live from statistics released by the World Health Organization.
  
          </p>
          <p>I hope you find it helpful!</p>
  
          <br><br>
      </section>
    </main>
  </div>
  </div>
  
</ion-content>
