<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" href="#">Logo</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" [routerLink]='["/home"]' mdbWavesEffect>Home<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]='["/update"]' mdbWavesEffect>update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]='["/view"]' mdbWavesEffect>View</a>
      </li>



    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>
    </ul>
  </links>

</mdb-navbar>

